In [2]:
print(1000)

1000

In [3]:
print(100,14.5) #integer #floating point

100 14.5

In [4]:
print("noamn ali") #string

noamn ali

In [5]:
print("99") #string

99

In [6]:
print("1234noman")

1234noman

In [7]:
print("hello world1")
print("hello world2")
print("hello world3")

hello world1
hello world2
hello world3

In [11]:
print("hello world1",end="\t")
print("hello world2",end="\n\n") #escape characters
print("hello world3")

hello world1	hello world2

hello world3

In [20]:
print("pakistan","china","japan", sep="  ")

pakistan  china  japan

In [23]:
print("pakistan",end=\\)

SyntaxError: unexpected character after line continuation character (4046608144.py, line 1)